body{
    margin: 2px;
    margin-top:0px; 
    max-width: 100%;
    background-color:#4a4444;
    text-align: center;
    font-family:  comic sans ms;
    font-size:14;
}

header{
	text-align:center;
	background-color:black;
	border-radius:5px;
	position: static;
	z-index: 1;
	width: 100%; 
}

header h1{

	font-family:Arial;
	letter-spacing:5px;
	padding-left:2%;
	padding-right:2%;
	display:inline-block;
	border-style:solid;
	border-radius: 5px;
	color:#8678d2; 
	font-size:100%; 
}
section img{
	position: relative;
	max-width: 100%;
	max-height:25%;
	height:20%;
	width:100%; 
	object-fit: cover;
	object-position: -20% 0;
	filter: blur(2px);
}
section.image{
	position: relative;
}
section div.welcome{
	position: absolute;
	font-family: comic sans ms;
	font-size: 200%;
	top:10%;
	color: white;
	left:30%;
}

nav{
	position: sticky;
	top:0px;
}

nav ul{
	padding: 0;
	margin: 0;
	background-color: black;
	border-radius: 3px;
}


nav ul li{
	margin-left: 20%;
	background-color:#634a8666;
	display:inline-block;
	width: 23%;
	padding-right: 0;
	padding-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0;

	text-decoration: none;

	text-align: center;
	border-right-style:solid;
	border-left-style:solid;  
	border-left-color: purple;
	border-right-color:#e280e2;
	border-bottom-style: solid;
	border-bottom-color:darkgrey;  
	border-radius: 2px;
}

nav ul li a{
	text-decoration: none;
	color:white;
	font-family: arial;
}

body main{
	padding-right:50px;
	padding-left: 50px;
}
main section{
	background-color: lightgrey;
	padding-left: 50px;
	padding-right: 50px;
}
main p{
	display: block;
	background-color: lightgrey;
	overflow-wrap:anywhere;
	padding: 5%;
}

main section{
	padding: 5%;
	margin: 5px;
}

main button{
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0em;
    border-color: rgb(200, 100,100 );
    border-radius: 5px;
}

main div a{
	display: block;
	margin: 5%;
	padding-top: 2%;
	border:2px solid grey;
	background-color: white;
	font-family:auto;
}

main div a.cursive{
	font-family: cursive;
}

main div a.monospace{
	font-family: monospace;
}

main div a.fantasy{
	font-family: fantasy;
}

main div p{
	margin:1px;
	display: block;
	padding: 0.25% 3%;
	padding-right: 0;
	text-align: right;
	border:1px solid lightgrey;
	margin-left: 80%;
    font-size: 13;
    font-family: monospace;
}


button a{
	text-decoration:none;
	color:inherit; 
	background-color: rgba(200,200,200,0);

}
/*pseducalsses*/

main div p::before{
	content: "-";
}


/*pseduelaments*/

nav a:hover {
    color: rgb(63, 92, 228);
    font-size: 1.2em; 
    text-transform: capitalize;
    font-family: sans-serif;
}

main button:hover{

	font-size: 1.1em;
	outline: none;
	background-color:#cdacad;
	color: white;
}
main button:focus{
	background-color: rgb(200,0,0);
	color:white;
}
